.fee_sass {
  .main_fee {
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .fee_title {
    width: 601px;
height: 75px;
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 75px;
    color: #d19962;
    opacity: 0.8;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;



    @media (max-width:800px) {

      font-size: 40px;
      width: auto;
    }




    
  }

  .fee_para {
    width: 820px;
height: 33px;
    margin-top: 30px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #dfc89e;
    text-align: center;


    @media (max-width:800px) {

      font-size: 20px;
      width: 80%;

      
    }






  }

  .price_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 100px;
@media (max-width:1250px) {

  gap: 4rem;
  
}
@media (max-width:1100px) {

flex-direction: column;

.p_card1{
  
}
  
}

  }

  .card_paras {
    width: 100%;
    padding-left: 10%;
  }

  .card_paras1 {
    width: 100%;
    padding-left: 5%;
  }

  .p_card1 {

    position: relative;
    width: 493px;
    height: 601px;
    background: #e0c9a0;
    box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    


  }

  .p_card2 {
    position: relative;
    width: 493px;
    height: 601px;
    background: #e0c9a0;
    box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

.zero{
  font-size: 100px;
}


  .p1_title1 {
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #ffffff;
  }

  .p1_title2 {
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
  }
  .main_par {
    display: flex;
  }
  .image_tick {
    margin-top: 16px;
    margin-right: 5px;
  }

  .p_para {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    line-height: 43px;
    width: 63%;
   
  }

  .p_para_special {
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 43px;
    color: #ffffff;
  }
  .p_para1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    line-height: 43px;
  }

  .p_para_special1 {
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 43px;
    color: #ffffff;
  }

  .fee_btn {
    width: 174px;
    height: 60px;
    left: 307px;
    top: 5247px;
    background: #faf3f6;
    border-radius: 35px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    border: none;
    text-align: center;
    margin-top: 30px;
    color: #d19962;
  }
  .fee_btn1 {
    width: 174px;
    height: 60px;
    margin-top: 5%;
    background: #faf3f6;
    border-radius: 35px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    border: none;
    text-align: center;
    margin-top: 30px;
    color: #d19962;
  }

  @media (max-width: 860px) {
    .price_card {
      gap: 3rem;
      flex-direction: column;
    }
    

    

  }

  @media (max-width: 600px) {

    .p_card1 {
   width: 100%;  
    }

    .p_card2 {
     width: 100%;
    }

    .p1_title1 {
      font-size: 28px;
    }

    .p1_title2 {
      font-size: 19px;
    }

    .p_para {
      font-size: 17px;
    }

    .p_para1 {
      font-size: 17px;
    }

    .p_para_special1 {
      font-size: 17px;
    }
.zero{
  font-size: 50px;
}

  }
}
