.baseline_sass {
  position: relative;
  background-color: #faf3f6;
  padding-bottom: 30px;

  .main_baseline {
    width: 100%;
    position: relative;
  }

  .b_img_sec {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }

  .b_img_sec img {
    width: 768px;

    right: 80px;
    position: inherit;
  }

  .base_card {
    position: absolute;
    width: 759px;
    height: 266px;
    right: 18%;
    top: 450px;
    padding-top: 42px;
    background: #e0c9a0;
    box-shadow: 7px 8px 15px 1px rgba(0, 0, 0, 0.25);
    border-radius: 24px;

    @media (max-width: 400px) {
      padding: 30px;
    }
  }

  .card_title {
    padding-top: 20px;
    width: 510px;
    height: 82px;
    padding-left: 50px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;

    color: #ffffff;

    @media (max-width: 460px) {
      font-size: 20px !important;
    }
  }

  .card_title img {
    width: 40px;
  }

  .card_para {
    width: 568px;
    height: 52px;
    padding-left: 50px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    padding-top: 54px;
    color: #ffffff;

    @media (max-width: 900px) {
      width: 400px;
    }
    @media (max-width: 700px) {
      width: auto;
    }
    @media (max-width: 460px) {
      font-size: 15px !important;
    }
    @media (max-width: 413px) {
      width: 200px;
    }
  }

  @media (max-width: 1200px) {
    .base_card {
      left: 0%;
      right: 0%;
      top: 70%;
      width: 70%;
      margin: 0 auto;
    }
    .image_cartoons {
      width: 100%;
    }
  }

  @media (max-width: 900px) {
    .image_cartoons {
      width: 400px !important;
      margin-top: 50px;
    }

    .card_title {
      padding-left: 70px;
    }

    .card_para {
      padding-left: 70px;
    }
  }

  @media (max-width: 700px) {
    .baseline_sass {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .base_card {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      flex-direction: column;
    }

    .card_title {
      font-size: 30px;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      padding: 0;
      margin: 0;
      line-height: 35px;
    }

    .card_para {
      font-size: 20px;
      left: 0;
      top: 160px;
      right: 0;
      bottom: 0;
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }

  @media (max-width: 500px) {
    .image_cartoons {
      width: 300px !important;
    }

    .card_title {
      width: auto;
      height: auto;
    }
  }

  @media (max-width: 380px) {
    .image_cartoons {
      width: 200px !important;
    }
  }
}
