* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}
.body-wrapper{
 position: relative; 
 overflow: hidden;
}

.main-back{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;

  width: 100%;

  img{
    max-width: 100%;
    width: 100%;
  }

  .back2{
    position: relative;
    top: -10px;
  }
}


.know_container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3rem 1rem;
  overflow: hidden;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  @media only screen and (max-width: 400px) {
    .heading {
      margin-left: 0rem;
      font-size: 25px !important;
    }
  }

  .heading {
    font-style: normal;
    font-weight: 800;
    // padding-top: 100px;
    margin-left: 76px;
    width: 617px;
    height: 66px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 75px;
    color: #d19962;
  }
  @media only screen and (max-width: 700px) {
    gap: 2rem;
    .heading {
      font-size: 30px;
      margin: 0 auto;
      width: max-content;

    }
  }

  .cards_box {
    display: flex;
    justify-content: center;
    color: white;
    gap: 3rem;
    position: relative;
    margin-top: 10rem;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
      gap: 7rem;
      margin-top: 5rem;
    }
    .back1 {
      position: absolute;
      z-index: -1;
      bottom: -110px;
      width: 100vw;
      img {
        width: 100%;
      }
      @media only screen and (max-width: 1650px) {
        bottom: -30px;
      }
      @media only screen and (max-width: 1650px) {
        bottom: 40px;
      }
      @media only screen and (max-width: 1000px) {
        top: -50px;
      }
      @media only screen and (max-width: 500px) {
        top: -10px;
      }
    }
    .back2 {
      position: absolute;
      z-index: -1;
      top: 0;
      width: 100vw;
    
      img {
        width: 100%;
      }
      @media only screen and (max-width: 1650px) {
        top: 70px;
      }
      @media only screen and (max-width: 1200px) {
        top: 150px;
      }
      @media only screen and (max-width: 1000px) {
        bottom: -70px;
      }
      @media only screen and (max-width: 500px) {
      }
    }
    .card {
      width: 318px;
      background-color: rgba(223, 200, 158, 0.98);
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      text-align: left;
      margin-top: -30px;
      .icon {
        background-color: #d5a875;
        padding: 1rem;
        width: 97.31px;
        height: 97.31px;
        border-radius: 50%;
        margin-top: -85px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          object-fit: cover;
        }
      }
      .title {
        width: 287px;
        height: 33px;

        font-family: Nunito;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
        /* identical to box height */

        color: #ffffff;
      }
    }
  }

  .options {
    display: flex;
    justify-content: center;
    gap: 3rem;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .option {
      display: flex;
      gap: 1rem;
      align-items: center;

      .icon {
        width: 14px;
        height: 10px;
      }
      .content {
        font-size: 24px;
        font-weight: 600;
        color: #d19962;
      }
    }
    @media only screen and (max-width: 700px) {
      gap: 1.5rem;

      .option {
        gap: 0.7rem;
        .content {
          font-size: medium;
        }
      }
    }
    @media only screen and (max-width: 500px) {
      gap: 1.5rem;

      .option {
        gap: 0.7rem;
        .content {
          font-size: 24px;
          font-style: normal;
          font-weight: 800;
        }
      }
    }
  }

  .hell {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    align-items: center;

    .title {
      font-size: 55px;
      color: #d19962;
      font-style: normal;
      font-weight: 800;
      font-size: 55px;
      line-height: 75px;
    }
    .content {
      color: #d19962;
    }

    .btn {
      width: 174px;
      height: 60px;
      background-color: #dcb289;
      color: white;
      border-radius: 3rem;
      padding: 0.7rem;
      border: none;

      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      /* identical to box height */

      text-align: center;

      @media screen and (max-width: 500px) {
        margin-top: 30px;
      }
    }
  }

  .how {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 2rem;

    .title {
      color: #d19962;
      font-size: 55px;
      font-weight: bold;
    }
    .detail {
      color: #dfc89e;
    }
  }

  .content_para {
    max-width: 772px;
    height: 72px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #dfc89e;
  }
}
