* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

.main_header_sass {
  width: 100%;

  .main_classheader {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    // margin: 2rem;
  }

  .main-header {
    position: relative;

    width: 100%px;
    height: 689px;

    background: #c4c4c4;
  }

  .header_text_sec {
    padding-top: 184px;
    padding-left: 100px;
  }
  .header_title {
    position: relative;
    left: 475px;
    top: -170px;
    width: 300px;
    text-align: center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  .div_placeholder {
    color: rgba(0, 0, 0, 0.41);
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    // width: 270px;
    width: 340px;
    // height: 65px;
  }

  .header_para1 {
    max-width: 541px;
    height: 137px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;

    color: #ffffff;
  }

  .header_para1 img {
    width: 50px;
  }

  .header_para2 {
    max-width: 602px;
    height: 66px;
    z-index: 2;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 25px;
    color: #ffffff;

    @media (max-width: 370px) {
      padding-top: 15px;
    }
  }

  .header_btn_sec {
    display: flex;
    gap: 2rem;
    margin-left: 100px;

   @media (max-width:600px){

    margin-left: 0px !important;

   }



  }
  .header_btn1 {
    border: none;
    background: #faf3f6;
    border-radius: 19px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    width: 199px;
    height: 48px;
    color: #d19962;
  }
  .header_btn2 {
    border: none;
    background: #faf3f6;
    border-radius: 19px;
    width: 184px;
    height: 48px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;

    color: #d19962;
  }

  @media screen and (max-width: 900px) {
    .header_title {
      left: 0px !important;
      top: 0px !important;
    }

    .header_text_sec {
      padding-left: 50px !important;
    }

    .b_img_sec {
      width: 400px !important ;
    }
  }

  @media (max-width: 600px) {
    .header_text_sec {
      padding-top: 20px;
    }
    .header_btn1 {
      height: 52px;
      width: 300px;
    }
    .header_btn2 {
      height: 52px;
      width: 300px;
    }
    .header_btn_sec {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 60px;
      align-items: center;
      
      padding-top: 20px !important;
    }
    .header_btn_sec {
      display: flex;
      flex-direction: column;
    }

    .header_para1 {
      font-size: 40px;
      line-height: 50px;
    }
    .header_para2 {
      font-size: 20px;
    }

    .div_placeholder {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 420px) {
    .header_text_sec {
      padding: 10px !important;
    }

    .header_btn1 {
      width: 250px;
    }
    .header_btn2 {
      width: 250px;
    }

    .header_btn_sec {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
