@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


.main_navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 86px;
background: #FAF3F6;
align-items: center;
padding-right: 150px;
}

.navbar_text{
    display: flex;
    font-family: Nunito;
    font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
color: #D19962;

}

.navbar_text div{
    padding: 20px;
}

.navbar_img{
    margin-left: 50px;
}


.ham_nav{
    position: absolute;
    right: 70px;
    top: 26px;
    bottom: 0;
    display: none;
}



.menu_color{
    color: #D19962;  
}




@media (max-width:999px){
    .navbar_text{
        display: none;
    }
    .ham_nav{
        display: block;
    }




}



@media (max-width:600px){
    
    
.navbar_img img{
    margin-left: -30px;
    width: 130px;
    margin-top: 20px;
}


}



.navbar__container{
    display: flex;
    justify-content: center;
align-items: center;
    flex-direction: column;
    gap: 3rem;
   
    font-size: 30px;
    color: #D19962;
    font-family: Nunito;

    
}

.close{
    color:#D19962 ;
    
    padding-left: 15px;
    padding-top: 15px;
}

.icons{
    width: 30px;
}